@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
/*starting of topSection*/
#topSection {

  
   /*  background-image: linear-gradient(#ff149360, #ff149360),
    linear-gradient(#ff149360, #ff149360), url("images/sliderImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top right;
  background-size: 100% 100%;
*/
  
   background-image:url(images/blue_light_lenses.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Bebas Neue", cursive;
}
div#header {
  width: 600px;
  background: #191919;
  height: 69px;
  position: fixed;
}
#logo img {
  width: 85%;
  overflow: hidden;
  margin-left: 11px;
  cursor: pointer;
}
#navBatton i.fas.fa-bars {
  color: white;
  font-size: 35px;
  padding: 0 17px;
  cursor: pointer;
}
#navBatton:before {
  content: "";
  position: absolute;
  background: #383838;
  width: 2px;
  height: 45px;
  right: 62px;
  top: 12px;
}
#logo #navBatton {
  display: inline-block;
}
#logo {
  width: 25%;
  float: left;
  background: #ffc815;
  padding: 23px 19px;
}
#navBatton {
  width: 64%;
  float: right;
  padding: 17px 0;
  text-align: right;
  position: relative;
}
#topSection h1 {
  font-size: 94px;
  letter-spacing: 2px;
  color: white;
  font-weight: 300;
  margin: -12px 0;
}
#topSection h3 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 3px;
}
#topSection #midText {
  position: relative;
  margin-left: 300px;
  margin-top: 70px;
}
#topSection #midText:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 132px;
  background: orange;
  top: 0px;
  left: -26px;
}
/*End of topSection*/
/*starting of aboutMeSection*/
#aboutMe {
  display: flex;
  flex-direction: row;
}
#aboutMeImage {
  flex: 1.3;
}
#aboutMeImage img {
  height: 100vh;
  display: block;
}
#aboutMeTextSide {
  flex: 2;
}
#menuBar {
  background: #191919;
}
#menuItems {
  padding: 12px;
}
#menuItems ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#menuItems ul a {
  color: white;
  text-decoration: none;
  font-family: arial;
}
#menuItems ul li {
  padding: 13px 23px;
}
#aboutList {
  background: #ffc815;
}
div#aboutMeText {
  padding: 30px;
}
button#aboutMeBtn {
  border: none;
  outline: none;
  background: #ffc815;
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
button#aboutMeBtn:after {
  content: "";
  position: absolute;
  border-top: 13px solid #ffc815;
  border-left: 12px solid transparent;
  bottom: -13px;
  right: 0;
}
#aboutMeText h1 {
  font-size: 50px;
  font-family: arial;
  margin-top: 20px;
  position: relative;
}
#aboutMeText h1:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 2px;
  bottom: -12px;
  left: 0;
  background: orange;
}
#aboutMeText h1:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: -16px;
  left: 0;
  background: orange;
}
#myInformation {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
#myInformation #myInfoImage {
  flex: 1;
  height: 300px;
  overflow: hidden;
  margin-top: 25px;
}
#myInformation #myInfoDetails {
  flex: 2;
  padding: 0 30px;
}
#myInfoDetails h3 {
  color: #888;
  font-family: sans-serif;
}
#myInfoDetails h2 {
  font-family: monospace;
  padding: 0px 181px 0px 0px;
  font-size: 22px;
  margin-top: 10px;
}
#myInfoDetails p {
  font-family: cursive;
  font-size: 13px;
  margin-top: 10px;
}
button#myInfoDetailsBtn {
  border: none;
  outline: none;
  background: #ffc815;
  padding: 10px 20px;
  font-size: 11px;
  margin-top: 30px;
}
button#myInfoDetailsBtn a {
  color: white;
  text-decoration: none;
}
hr#horizontalLine {
  margin: 0 150px;
}
